.button {
  width: 100%;
  height: 70px;
  margin-top: 15px;
}

.title {
  text-align: center;
}

.buttonsContainer {
  margin-top: 15px;
}

.buttonsContainer > *:not(:first-child) {
  margin-top: 10px;
}

.toast {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}

.backButton {
  position: absolute;
  width: 50px;
  top: 60px;
  left: 60px;
}

.backButton:hover {
  opacity: 0.5;
}
