.backButton {
  position: absolute;
  width: 50px;
  top: 60px;
  left: 60px;
  transition: all 0.2s ease-in-out;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.backButton:hover {
  opacity: 0.5;
}
