.columnFlex {
  display: flex;
  flex-direction: column;
}

.buttons {
  margin-top: 5px;
}

.buttons > *:not(:first-child) {
  margin-top: 20px;
}

.button {
  display: block;
  width: 100%;
  height: 70px;
}
