.frame {
  width: 150px;
  height: 150px;
  background-color: white;
  border-radius: 5px;
  stroke-width: 2px;
  border-style: solid;
  border-color: black;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
}
